# 파이썬 코딩 시작

* 변수(variavble)
* 함수(function)
* 연산자(operator)
* 제어문(control statements)
* 자료형(data types)

## 함수 호출

프로그래밍 분야에서는 입력값을 주로 인자(argument)라고 함   
'변수' > 어떤 관계나 범위 안에서 여러 가지 값으로 변할 수 있는 수라고 정의되어 있음.  
위

In [1]:
def say_hi():
    print('안녕!')

    
say_hi()

안녕!

함수에서 띄어쓰기를 안 했을 경우 뜨는 에러 :IndentationError: expected an indented block

In [2]:
def say_hi_nice():
    print('안녕!')
    print('반가워.')
    
say_hi_nice()

안녕!
반가워.

In [3]:
name = '하루'
#- name이라는 변수는 문자열 '하루'를 가리킵니다.

def say_name():
    print(name)
#- say_name() 함수의 밖에서 정의된 변수(name), 즉 '하루'를 읽어옵니다.

say_name()

name = '시우'
#- 이제, name이라는 변수는 문자열 '시우'를 가리킵니다.

say_name()

하루
시우

In [4]:
name = '하루'
#- name은 문자열 '하루'를 가리키는 변수입니다.

def change_name():
    name = '시우'
    #- 여기서 name은 해당 함수 내에서만 문자열 '시우'를 가리킵니다.

change_name()
#- 함수를 호출해도 아무 일도 일어나지 않습니다.

print(name)
#- 첫 줄, 즉 함수 바깥에서 정의된 문자열 '하루'가 출력됩니다.

하루

In [5]:
def say_hi_somebody(name):
    print(name + ', 안녕!')
#- 함수를 정의합니다. 
#- 이 함수는 문자열인 한 개의 입력값을 받아, '[name], 안녕!'을 출력합니다.

say_hi_somebody('준이')
#- 위에서 정의한 함수를 호출합니다.
#- "준이, 안녕!"이라고 부르기 위해 입력값으로 '준이'를 주었습니다.

준이, 안녕!

매개변수 입력하지 않고 함수 호출할 경우 오류 남  
그리고 매개변수 지정되지 않은 함수에 매개변수 입력해도 오류 남

In [6]:
def say_hi_default(name='somebody'):
    print('안녕, ' + name + '!')

say_hi_default('준이')
say_hi_default()

안녕, 준이!
안녕, somebody!

In [8]:
def say_hi_couple(name1, name2):
    print(name1 + ', ' + name2 + ' 안녕!')

say_hi_couple('그리', '단테')

그리, 단테 안녕!

변수가 하나만 입력된다면 오류가 난다.

In [9]:
say_hi_couple(name1='그리', name2='단테')

그리, 단테 안녕!

In [10]:
say_hi_couple(name2='그리', name1='단테')

단테, 그리 안녕!

In [11]:
def say_hi_couple_default(name1, name2='nobody'):
    print(name1 + ', ' + name2 + ' 안녕!')

In [12]:
def add(number1, number2):
    print(number1 + number2)

add(1, 2)

3

In [13]:
def add_and_return(number1, number2):
    print(number1 + number2)
    return number1 + number2

In [14]:
def print_two(word1, word2):
    print(word1)
    print(word2)

def print_and_return(word1, word2, word3):
    print_two(word3, word2)
    return word1

print_two('A', print_and_return('B', 'C', 'D'))

D
C
A
B

먼저 print_and_return('B', 'C', 'D')이 호출.  
print_and_return('B', 'C', 'D')이 호출되면서 이 함수 안에 있는 함수 print_two(word3, word2)이 호출되어 D와 C가 출력.  
그 후 print_two('A', print_and_return('B', 'C', 'D'))이 호출되면서 print('A')과 print(print_and_return('B', 'C', 'D'))이 실행.  
print('A')에서는 A가, print(print_and_return('B', 'C', 'D'))에서는 return 값인 B가 출력.  
따라서 출력 결과가 D C A B 나옴.

## 제어문

### (1) if

In [15]:
def print_if_positive(number):
    if number >= 0:
        print(number)
#- 숫자가 0보다 크거나 같을(>=) 경우 즉, 0 이상일 경우에만 숫자를 출력합니다.

print_if_positive(1)
print_if_positive(-1)

1

In [17]:
def print_whether_positive_or_negative(number):
    if number >= 0:
        print('+')
    else:
        print('-')
#- 숫자가 0보다 크거나 같으면 +를, 작으면 -를 출력합니다.

print_whether_positive_or_negative(1)
print_whether_positive_or_negative(-1)

+
-

In [18]:
def print_whether_positive_or_negative_or_zero(number):
    if number > 0:
        print('+')
    elif number == 0:
        print('0')
    else:
        print('-')
#- 숫자가 양수이면 +를, 음수이면 -를, 양수도 음수도 아닌 0일 경우 그대로 0을 출력합니다.

print_whether_positive_or_negative_or_zero(1)
print_whether_positive_or_negative_or_zero(0)
print_whether_positive_or_negative_or_zero(-1)

+
0
-

In [19]:
def print_if_positive_and_even(number):
    if (number > 0) and (number % 2 == 0):
        print(number)

#- 숫자가 양수이고(and) 짝수일 때 해당 숫자를 출력합니다.
#-- 양수 : number > 0
#-- 짝수 : number % 2 == 0 즉, 숫자를 2로 나눈 나머지가 0인 경우

print_if_positive_and_even(1)
print_if_positive_and_even(-1)
print_if_positive_and_even(2)
print_if_positive_and_even(-2)

2

In [20]:
def print_if_negative_or_odd(number):
    if (number < 0) or (number % 2 != 0):
        print(number)
#- 숫자가 음수이거나(or) 홀수일 때 해당 숫자를 출력합니다.
#- 음수 : number < 0
#- 홀수 : number % 2 != 0 즉, 짝수가 아닐 때

print_if_negative_or_odd(1)
print_if_negative_or_odd(-1)
print_if_negative_or_odd(2)
print_if_negative_or_odd(-2)

1
-1
-2

### while

In [23]:
def fibonacci(n):
    if n <= 2:
        return 1
    else:
        return fibonacci(n-2) + fibonacci(n-1)

n = 1
while n <= 20:
    print(fibonacci(n))
    n = n + 1
print('끝!')

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
끝!

### for

엮여서 하나씩 순서대로 넘길(iterate) 수 있는 값들을 반복 가능한(iterable, 이터러블) 객체 라고 한다. for 루프를 써서 순서대로 엮인 값들을 하나씩 처리할 수 있다.

In [24]:
for character in 'Hello':
    print(character)

H
e
l
l
o

### 자료형

In [25]:
print(type(1))

<class 'int'>

자료형 정수 _ integer, 'int'

In [27]:
number = 1000 ** 10
print(number)

1000000000000000000000000000000

In [28]:
message = 'Hello'
print(message[::-1])  # 거꾸로 출력

olleH

In [29]:
message = 'Hello'
print(message[::1])  # 기본 (한 칸 씩)
print(message[:-1:1])  # 기본 (한 칸 씩)
print(message[::2])  # 두 칸 씩

Hello
Hell
Hlo

### 튜플과 리스트

In [30]:
numbers = (1, 2, 3)
for number in numbers:
    print(number)

1
2
3

In [31]:
tuple_123 = (1, 2, 3)
print(tuple_123[0])

1

In [32]:
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple[1][0])

3

In [33]:
tuple_a = (1, 2)
tuple_b = (3, 4)
print(tuple_a + tuple_b)

(1, 2, 3, 4)

In [34]:
tuple_abc = ('a', 'b', 'c')
print('a' in tuple_abc)
print('d' in tuple_abc)

True
False

In [35]:
list_a = [1, 2]
list_b = ['3', '4']
print(list_a, list_b)

[1, 2] ['3', '4']

In [36]:
list_123 = [1, 2, 3]
list_123[0] = 0
print(list_123)

[0, 2, 3]

In [37]:
list_123 = [1, 2, 3]
list_123.append(4)
print(list_123)

list_123.remove(4)
print(list_123)

list_123.pop(0)
print(list_123)

[1, 2, 3, 4]
[1, 2, 3]
[2, 3]

### 딕셔너리

In [38]:
conductor = {'first_name': '단테', 'last_name': '안'}
print(conductor['first_name'])

단테

In [39]:
conductor = {'first_name': '단테', 'last_name': '안'}
conductor['gender'] = 'male'
print(conductor)

{'first_name': '단테', 'last_name': '안', 'gender': 'male'}

In [40]:
conductor = {'first_name': '단테', 'last_name': '안'}
conductor.pop('last_name')
print(conductor)

{'first_name': '단테'}

In [41]:
conductor = {'first_name': '단테', 'last_name': '안'}
for key in conductor:
    print(key)

first_name
last_name

In [42]:
conductor = {'first_name': '단테', 'last_name': '안'}
for key, value in conductor.items():
    print(key + ' : ' + value)

first_name : 단테
last_name : 안

* 함수(function) : 불려진 시점에 특정한 작업을 수행하며, 입력값을 출력값(반환값)을  가질 수 있습니다.

- 인자(argument) : 함수를 호출할 때 전달하는 입력값입니다.  
- 매개변수(parameter) : 함수가 실행될 때 입력값이 들어올 변수입니다. 
- 반환값(return value) : 함수가 종료될 때 호출 지점으로 전달할 출력값입니다.

* 변수(variable) : 값을 가리키는 이름입니다.

- 스코프(scope) : 변수가 유효한 범위입니다. 

* 연산자(operator) : 주어진 값들에 대해 정해진 연산을 수행합니다. 

- 수리 연산자(mathematical operator) : +, -, *, /, //, **
- 비교 연산자(comparison operator) : ==, !=, <, >, <=, >=, is
- 논리 연산자(logical operator) : and, or
- 소속 연산자(membership operator) : in

* 제어문(control statements) : 코드 블록의 흐름(실행 여부, 반복)을 제어합니다. 

- if : 명제가 참이면 실행합니다. 
- else : if 명제 이외의 경우에 실행합니다. 
- elif : if 명제 이외의 경우에 또 다른 명제가 참일 경우에 실행합니다.
- while : 명제가 참일 동안 반복합니다. 
- for : 주어진 값들 하나씩 반복합니다. 
- 자료형(data types) : 값들의 종류를 나타냅니다.
- 정수(int), 부동소수점 수(float), 불리언(bool), 문자열(str), 튜플(tuple), 리스트(list), 딕셔너리(dict)